:root{
    --bgMain: #DADBD3;
    --bgMain-top: #009688;
    --bgfix-lightgray: #EAEAEA;
}

/* common custom prop */
body{
    background-color: var(--bgMain);
}

#app.main_wrapper{
    width: 100%;
    position: relative;
}

.main_wrapper > .top_background{
    height: 10rem;
    background-color: var(--bgMain-top);
}

.main_wrapper > #screen-app{
    min-height: 15rem;
    max-height: 90vh;
    height: 90vh;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 5%);
}

.main_wrapper > #screen-app > .row{
    height: 100%;
}

img{
    height: 100%;
}

.word_break_fix{
    word-break: break-word;
}

/* common classes for both sides contacts infos */
img, i, .name, .cursor_pointer{
    cursor: pointer;
}

.focused_account{
    height: 3rem;
    background-color: var(--bgfix-lightgray);
}

.left_info > img{
    border-radius: 50%;
    object-fit: cover;
}

/* left layout */
.contact{
    height: 3.5rem;
}

.contact .left_info div:first-child{
    font-weight: 500;
}

.contact .left_info .flex-column div:last-child, .message_time{
    color: gray;
    font-size: .7rem;
}

.selected_contact{
    background-color: lightgray;
}

/* TODO: OVERFLOW */
#contacs_list{
    height: 50vh;
    overflow-y: scroll; 
}

/* right layout */
#chat_page{
    background-image: url(../img/mine.jpg);
}

#my_message{
    height: 3.5rem;
    width: 100%;
    background-color: #F3EEEA;
}

#my_message i{
    font-size: 1.4rem;
}

#notifications{
    background-color: #8EDAFC;
}
#bell-container{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    color: #8EDAFC;
}

.received_message{
    width: 40%;
    border-radius: .5rem;
    background-color: white;
}

.sent_message{
    width: 40%;
    border-radius: .5rem;
    background-color: #D5F9BA;
    align-self: flex-end;
}

.received_message > div, .sent_message > div{
    padding: 1rem;
}

/* TODO: SCROLL */
#current_contact_messages{
    min-height: 20rem;
    max-height: 34rem;
    height: 75vh;
    overflow-y: scroll;
}