:root{
    --bgfix-lightgray: #EAEAEA;
    --bgMain-top: #009688;
    --bgMain-bottom: #DADBD3;
}

/* common custom prop */

#app.main_wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
}

.main_wrapper > .top_background{
    height: 10rem;
    background-color: var(--bgMain-top);
}

.main_wrapper > .bottom_backgroung{
    height: calc(100vh -  10rem );
    background-color: var(--bgMain-bottom);
}

.main_wrapper > #screen-app{
    min-height: 15rem;
    max-height: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 5%);
}

.main_wrapper > #screen-app > .row{
    height: 100%;
}

img{
    height: 100%;
}

/* common classes for both sides contacts infos */
img, i, .name{
    cursor: pointer;
}

.focused_account{
    height: 3rem;
    background-color: var(--bgfix-lightgray);
}

.left_info > img{
    border-radius: 50%;
    object-fit: cover;
}

/* left layout */
.contact{
    height: 3.5rem;
}

.contact .left_info div:first-child{
    font-weight: 500;
}

.contact .left_info .flex-column div:last-child, .last_message_time{
    color: gray;
    font-size: .7rem;
}

.selected_contact{
    background-color: lightgray;
}

/* right layout */

#chat_page{
    background-image: url(../img/mine.jpg);
}

#my_message{
    height: 3.5rem;
    width: 100%;
    background-color: #F3EEEA;
}

#my_message i{
    font-size: 1.4rem;
}
